<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/signin.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
<% if (formType === "signup") { %>
    <script defer src="./js/registerUser.js"></script>
    <% } %>
    <title>Excercise Tracker Signin Page</title>
</head>
<body>
    <section class="signin-modal">

        <section class="signin-options-wrapper">

            <h1 class="signin-options-heading"><%= formType %> With</h1>

            <div class="signin-options signin-options-google">
                <img class="signin-options__icon " src="./svg/google-icon.svg"/>
                <h2 class="signin-options__content"><%= formType %>  With Google</h2>
            </div>

            <div class="signin-options signin-options-facebook">
                <img class="signin-options__icon" src="./svg/facebook-icon.svg"/>
                <h2 class="signin-options__content"><%= formType %> With Facebook</h2>
            </div>    

        </section>

            <h3 class="signin-split">OR</h3>

        <form id="form" action="<%= formAction %>"class="form">
<% if (formType === "signup") {%>
            <div class="form__input-wrapper">
                <input required id="email" name="email" type="email" class="form__input"/>
                <label for="email">Email</label>
            </div>
<% } %>
            <div class="form__input-wrapper">
                <input required id="username" name="username" type="text" class="form__input"/>
                <% if (formType === "signup") { %>
                    <label for="username">Username</label> 
                    <% } %>
                <% if (formType === "signin") { %>
                    <label for="username">Username or Email</label> 
                    <% } %>
            </div>

            <div class="form__input-wrapper">
                <input required id="password" name="password" type="password" class="form__input"/>
                <label>Password</label>
            </div>

            <div class="form__btn-wrapper">
                <button class="form__btn" type="submit"><%=formType%></button>
            </div>

        </form>
    </section>
    
</body>
</html>